@model IEnumerable<BooksViewModel>

<div class="row"
    <div class="col-lg-6">
        <div class="card">
            <div class="card-block">
                @foreach (var item in Model)
                {
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <h4>@item.Title</h4>
                        <h6>@item.Author</h6>
                        <h6>Price: @item.Price PLN</h6>
                    </div>
                </div>
                }                
            </div>
        </div>
    </div>
    <a asp-controller="Books" asp-action="AddBook" title="Add book" class="card-link">Add book</a>
</div>